# Identifiants InfluxDB
INFLUX_ADMIN_USER='USERNAME'
INFLUX_ADMIN_PASSWORD='Mon_MDP'
INFLUX_ADMIN_TOKEN='MON_TOKEN'

# Identifiants HiveMQ Cloud
MQTT_USER=mon_utilisateur_hivemq
MQTT_PASSWORD='mon_mot_de_passe_hivemq'

MQTT_SERVER="SERVER_MQTT"

GRAFANA_USER='USERNAME_GRAFANA'
GRAFANA_PASSWORD='MDP_GRAFANA'